# Part 1: Creating MySQL Database

**Goal:**

The goal of this notebook is to construct and export a MySQL database from the UW Madison Courses and Grades 2006-2017 dataset on Kaggle (https://www.kaggle.com/datasets/Madgrades/uw-madison-courses). 

This will allow us to access the data for analysis in the following notebooks.

The database will be titled "grades" and will include the following tables and associated columns (descriptions from Kaggle).

Primary and foreign keys are not yet determined; we will create an Entity Relationship Diagram through reverse engineering the database in MySQL Workbench to show us the primary and foreign keys later in the notebook.

- **course_offerings:** Courses are offered during particular semesters and this table reflects that information. It associated a course with what semesters that course was offered.
    - **'uuid':** The unique id generated for a course offering.
    - **'course_uuid':** The uuid of the course this offering belongs to.
    - **'term_code':** The code of the term this course belongs to. (http://www.bussvc.wisc.edu/bursar/termcode.html)
    - **'name':** The name of the course for this particular offering. A course name may change between semesters.


- **courses:** All courses offered at UW Madison since 2006.
    - **'uuid':** The uuid generated for this course.
    - **'name':** The official, latest name of the course (sometimes null if we do not have that data).
    - **'number':** The number of the course (not unique).


- **grade_distributions:** Grade distributions for a particular section of a course offering. Each count column is the number of students who received that grade. The average GPA for the section can be calculated, as described by the UW Madison registrar (https://registrar.wisc.edu/grades-and-gpa/).
    - **course_offering_uuid:** The uuid of the course offering this belongs to.
    - **section_number:** The section number of the section this belongs to.
    - **a_count:** The number of A's given in this section.
    - **ab_count**
    - **b_count**
    - **bc_count**
    - **c_count**
    - **d_count**
    - **f_count**
    - **s_count**
    - **u_count**
    - **cr_count**
    - **n_count**
    - **p_count**
    - **i_count**
    - **nw_count**
    - **nr_count**
    - **other_count**


- **instructors:** Instructor ids and names.
    - **id:** The university given instructor id.
    - **name:** The name of the instructor.


- **rooms:** All rooms that held course sections.
    - **uuid:** The unique id of this room.
    - **facility_code:** The facility/building code (http://www.map.wisc.edu/buildings/)
    - **room_code:** The room code.
    
    
- **schedules:** All possible schedules that sections have. Boolean fields indicate whether or not they meet on that particular weekday.
    - **uuid:** The uuid of the schedule.
    - **start_time:** The start time of this schedule in minutes.
    - **end_time:** The end time of this schedule in minutes.
    - **mon:** True if sections with this schedule met on Mondays.
    - **tues**
    - **wed**
    - **thurs**
    - **fri**
    - **sat**
    - **sun**


- **sections:** All sections offered by courses for every semester since 2006.
    - **uuid:** The unique id of this section.
    - **course_offering_uuid:** The uuid of the course offering this section belongs to.
    - **section_type:** The type of section (lecture, discussion, lab, etc.)
    - **number:** The number of this section.
    - **room_uuid:** The uuid of the room this section met at.
    - **schedule_uuid:** The uuid of the schedule that this section adhered to.


- **subject_memberships:** Courses are offered through particular subjects, and this can differ each semester/term. This describes which subjects a course offering belonged to.
    - **subject_code:** The code of the subject.
    - **course_offering_uuid:** The uuid of this course offering.


- **subjects**: All subjects reported at UW Madison since 2006.Some duplicates may appear to exist, but this is a result of changes in subject names or codes (i.e. English has code 350, and 352).
    - **code:** The unique code given by the university of this subject.
    - **name:** The name of the subject.
    - **abbreviation:** The abbreviated name of this subject.


- **teachings:** Each section is taught by any number of instructors. This describes which instructors taught which sections.
    - **instructor_id**: The instructor id.
    - **section_uuid**: The uuid of the section that the instructor taught.

# 1. Imports

In [16]:
# imports
import pandas as pd
import json
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import inspect
from sqlalchemy.schema import ForeignKeyConstraint

# 2. Create Connection and Engine, Create Database

In [17]:
# use file with credentials
with open('/Users/yang0108/.secret/mysql_credentials.json') as f:
    login = json.load(f)
    
# check
login.keys()

dict_keys(['username', 'password'])

In [18]:
# create connection with MySQL
username = login['username']
password = login['password']
db_name = 'grades'
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [19]:
# create engine
engine = create_engine(connection)

In [20]:
# check if db exists, and if not, create it
if database_exists(connection):
    print(f"The {db_name} database already exists.")
    
else:
    # create new 'movies' db
    create_database(connection)
    print(f"Database {db_name} created.")

The grades database already exists.

# 3. Define Function to Add Tables to Database

In [27]:
def add_table(table, table_name, primary_key = None, foreign_key_dict = None):
    """This function adds the table to the db, designates the 
    primary key if given, and outputs the 
    first 5 rows of the table for verification"""
    
    # get the dtypes of the columns in the table
    dtypes = table.dtypes
    
    # convert columns and dtypes to dictionary for schema
    dtypes_dict = dtypes.to_dict()
    
    # make empty dictionary to build schema
    schema = {}
    print(table)
    
    # iterate through columns in table to build schema dict
    for col in table.columns:
        print(col)
        
        # set schema for ints
        if table[col].dtype == 'int64':
            schema[col] = Integer()
            
        elif table[col].dtype == 'float64':
            schema[col] = Float()
            
        elif table[col].dtype == 'object':
            
            # get max length of the column
            max_len = table[col].fillna('').map(len).max()
            
            # set schema for primary key
            if col == primary_key:
                schema[col] = String(max_len + 1)
                print(max_len + 1)
                print("string")
                
            else:
                schema[col] = Text(max_len + 1)
                print(max_len + 1)
                print("text")
    
    # save table to movies db
    # this way uses the pandas df.to_sql() command
    table.to_sql(table_name, 
                engine, 
                dtype = schema,
                if_exists = 'replace',
                index = False)
    
    # set primary key column if necessary
    if primary_key is not None:
        engine.execute(f'ALTER TABLE {table_name} \
                       ADD PRIMARY KEY (`{primary_key}`);')
        print("added primary key")
        
    # set foreign key column(s) if necessary
    if foreign_key_dict is not None:
        
        count = 0
        
        for key, value in foreign_key_dict.items():
        
            engine.execute(f'ALTER TABLE {table_name} \
                           ADD CONSTRAINT fk_constraint_{count} \
                           FOREIGN KEY (`{key}`(37)) \
                           REFERENCES {value[0]} (`{value[1]}`);')
            print("added foreign key")
            count += 1
            
    # check table by printing first five rows
    print(f"First five rows of {table_name} table:\n")
    
    sql = f"""SELECT *
    FROM {table_name}
    LIMIT 5;
    """
    
    result = pd.read_sql_query(sql, engine)
    print(result)
    
    # check the primary key
    sql = f"""
    SELECT COLUMN_NAME
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_SCHEMA = '{db_name}'
    AND TABLE_NAME = '{table_name}'
    AND COLUMN_KEY = 'PRI';
    """
    result = pd.read_sql_query(sql, engine)
    
    if not result.empty:
        primary_key_column = result.iloc[0]['COLUMN_NAME']
        print(f"The primary key of {table_name} is {primary_key_column}.")
    else:
        print(f"The {table_name} table doesn't have a primary key.")
    
    # print empy lines for readability
    print('\n\n')

In [ ]:
def add_foreign_key()

# 4. Load and Explore Data, Add Tables to Database

## 4.1 Load and Explore Data

In [24]:
# load .csv files from kaggle
course_offerings = pd.read_csv('Data/course_offerings.csv')
courses = pd.read_csv('Data/courses.csv')
instructors = pd.read_csv('Data/instructors.csv')
rooms = pd.read_csv('Data/rooms.csv')
schedules = pd.read_csv('Data/schedules.csv')
sections = pd.read_csv('Data/sections.csv')
subject_memberships = pd.read_csv('Data/subject_memberships.csv')
subjects = pd.read_csv('Data/subjects.csv')
teachings = pd.read_csv('Data/teachings.csv')
grade_distributions = pd.read_csv('Data/grade_distributions.csv')

In [25]:
# get .info() and view .head() for each df before adding to db
def info_and_head(df_name, df):
    print(f".info() and .head(2) for {df_name}:")
    print(df.info())
    print(df.head(2))
    print("\n\n")

table_dict = {
    "course_offerings":    {"df": course_offerings, 
                            "primary_key": 'uuid',
                            "fk_dict": {'course_uuid': ("courses", 'uuid')}},
    "courses":             {"df": courses, 
                            "primary_key": 'uuid',
                            "fk_dict": None},
    "instructors":         {"df": instructors, 
                            "primary_key": 'id',
                            "fk_dict": None},
    "rooms":               {"df": rooms, 
                            "primary_key": 'uuid',
                            "fk_dict": None},
    "schedules":           {"df": schedules, 
                            "primary_key": 'uuid',
                            "fk_dict": None},
    "sections":            {"df": sections, 
                            "primary_key": 'uuid',
                            "fk_dict": {'course_offering_uuid': ("course_offerings", 'uuid'), 
                                        'room_uuid': ("rooms", 'uuid'), 
                                        'schedule_uuid': ("schedules", 'uuid')}},
    "subject_memberships": {"df": subject_memberships, 
                            "primary_key": None,
                            "fk_dict": {'course_offering_uuid': ("course_offerings", 'uuid'), 
                                        'subject_code': ("subjects", 'code')}},
    "subjects":            {"df": subjects, 
                            "primary_key": 'code',
                            "fk_dict": None},
    "teachings":           {"df": teachings, 
                            "primary_key": None,
                            "fk_dict": {'instructor_id': ("instructors", 'id'), 
                                        'section_uuid': ("sections", 'uuid')}},
    "grade_distributions": {"df": grade_distributions, 
                            "primary_key": None,
                            "fk_dict": {'course_offering_uuid': ("course_offerings", 'uuid')}}
}

for key, value in table_dict.items():
    info_and_head(key, value['df'])

.info() and .head(2) for course_offerings:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81452 entries, 0 to 81451
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uuid         81452 non-null  object
 1   course_uuid  81452 non-null  object
 2   term_code    81452 non-null  int64
 3   name         78916 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.5+ MB
None
                                   uuid                           course_uuid  \
0  344b3ebe-da7e-314c-83ed-9425269695fd  a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de
1  f718e6cd-33f0-3c14-a9a6-834d9c3610a8  a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de

   term_code                        name
0       1092  Cooperative Education Prog
1       1082  Cooperative Education Prog



.info() and .head(2) for courses:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9306 entries, 0 to 9305
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uuid    9306 non-null   object
 1   name    9264 non-null   object
 2   number  9306 non-null   int64
dtypes: int64(1), object(2)
memory usage: 218.2+ KB
None
                                   uuid  \
0  a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de
1  c070a84f-648f-351d-9499-5d0e30ad02cc

                                                name  number
0                      Cooperative Education Program       1
1  Cooperative Education/Co-op in Life Sciences C...       1



.info() and .head(2) for instructors:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18737 entries, 0 to 18736
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18737 non-null  int64
 1   name    18736 non-null  object
dtypes: int64(1), object(1)
memory usage: 292.9+ KB
None
        id              name
0   761703  JOHN ARCHAMBAULT
1  3677061    STEPHANIE KANN



.info() and .head(2) for rooms:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1350 non-null   object
 1   facility_code  1350 non-null   object
 2   room_code      1348 non-null   object
dtypes: object(3)
memory usage: 31.8+ KB
None
                                   uuid facility_code room_code
0  04368a56-c959-3e4b-8b3d-f4cc3538fea5    OFF CAMPUS       NaN
1  2cc50da3-ef0e-3572-a557-ca44930a0688          0032      0249



.info() and .head(2) for schedules:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4467 entries, 0 to 4466
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uuid        4467 non-null   object
 1   start_time  4467 non-null   int64
 2   end_time    4467 non-null   int64
 3   mon         4467 non-null   bool
 4   tues        4467 non-null   bool
 5   wed         4467 non-null   bool
 6   thurs       4467 non-null   bool
 7   fri         4467 non-null   bool
 8   sat         4467 non-null   bool
 9   sun         4467 non-null   bool
dtypes: bool(7), int64(2), object(1)
memory usage: 135.4+ KB
None
                                   uuid  start_time  end_time    mon   tues  \
0  f2d66a4d-0c08-3b48-abf6-649fffd7ae90          -1        -1  False  False
1  875542a2-f786-34dd-933b-84a8af1aaaba         530       580   True  False

     wed  thurs    fri    sat    sun
0  False  False  False  False  False
1   True  False  False  False  False



.info() and .head(2) for sections:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315602 entries, 0 to 315601
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   uuid                  315602 non-null  object
 1   course_offering_uuid  315602 non-null  object
 2   section_type          315602 non-null  object
 3   number                315602 non-null  int64
 4   room_uuid             209644 non-null  object
 5   schedule_uuid         315602 non-null  object
dtypes: int64(1), object(5)
memory usage: 14.4+ MB
None
                                   uuid                  course_offering_uuid  \
0  45adf63c-48c9-3659-8561-07556d2d4ddf  344b3ebe-da7e-314c-83ed-9425269695fd
1  c6280e23-5e43-3859-893e-540d94993529  f718e6cd-33f0-3c14-a9a6-834d9c3610a8

  section_type  number room_uuid                         schedule_uuid
0          FLD       1       NaN  f2d66a4d-0c08-3b48-abf6-649fffd7ae90
1          FLD       1       NaN  f2d66a4d-0c08-3b48-abf6-649fffd7ae90



.info() and .head(2) for subject_memberships:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95314 entries, 0 to 95313
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   subject_code          95314 non-null  int64
 1   course_offering_uuid  95314 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.5+ MB
None
   subject_code                  course_offering_uuid
0           220  344b3ebe-da7e-314c-83ed-9425269695fd
1           320  344b3ebe-da7e-314c-83ed-9425269695fd



.info() and .head(2) for subjects:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   code          200 non-null    object
 1   name          200 non-null    object
 2   abbreviation  200 non-null    object
dtypes: object(3)
memory usage: 4.8+ KB
None
  code          name abbreviation
0  908  Soil Science     SOIL SCI
1  350       ENGLISH      ENGLISH



.info() and .head(2) for teachings:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315211 entries, 0 to 315210
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   instructor_id  315211 non-null  int64
 1   section_uuid   315211 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.8+ MB
None
   instructor_id                          section_uuid
0         761703  45adf63c-48c9-3659-8561-07556d2d4ddf
1         761703  c6280e23-5e43-3859-893e-540d94993529



.info() and .head(2) for grade_distributions:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193262 entries, 0 to 193261
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   course_offering_uuid  193262 non-null  object
 1   section_number        193262 non-null  int64
 2   a_count               193262 non-null  int64
 3   ab_count              193262 non-null  int64
 4   b_count               193262 non-null  int64
 5   bc_count              193262 non-null  int64
 6   c_count               193262 non-null  int64
 7   d_count               193262 non-null  int64
 8   f_count               193262 non-null  int64
 9   s_count               193262 non-null  int64
 10  u_count               193262 non-null  int64
 11  cr_count              193262 non-null  int64
 12  n_count               193262 non-null  int64
 13  p_count               193262 non-null  int64
 14  i_count               193262 non-null  int64
 15  nw_count              193262 non-null  int64
 16  nr_count              193262 non-null  int64
 17  other_count           193262 non-null  int64
dtypes: int64(17), object(1)
memory usage: 26.5+ MB
None
                   course_offering_uuid  section_number  a_count  ab_count  \
0  344b3ebe-da7e-314c-83ed-9425269695fd               1      105         0
1  f718e6cd-33f0-3c14-a9a6-834d9c3610a8               1      158         0

   b_count  bc_count  c_count  d_count  f_count  s_count  u_count  cr_count  \
0        0         0        0        0        0        0        0         0
1        0         0        0        0        0        0        0         0

   n_count  p_count  i_count  nw_count  nr_count  other_count
0        0        0        0         0         0            0
1        0        0        1         0         0            0

## 4.2 Add Tables with Primary Keys

The primary keys are:
- course_offerings: 'uuid'
- courses: 'uuid'
- grade_distributions: None
- instructors: 'id'
- rooms: 'uuid'
- schedules: 'uuid'
- sections: 'uuid'
- subject_memberships: None
- subjects: 'code'
- teachings: None

In [28]:
# test adding one
for key, value in table_dict.items():
    add_table(value['df'], key, value['primary_key'], value['fk_dict'])

                                       uuid  \
0      344b3ebe-da7e-314c-83ed-9425269695fd
1      f718e6cd-33f0-3c14-a9a6-834d9c3610a8
2      ea3b717c-d66b-30dc-8b37-964d9688295f
3      075da420-5f49-3dd0-93df-13e3c152e1b1
4      2b4e216d-a728-3713-8c7c-19afffc6b2fd
...                                     ...
81447  3573e335-e7be-33a6-b023-8704b3acc93b
81448  5d437083-a1d0-38b8-aa70-ec3564da39a6
81449  13278922-0726-3823-abda-dc14df03d8a6
81450  fd039fe4-32ec-31dd-a142-c7db54df784b
81451  4e151e41-fdfb-3176-a96a-bec0715492a3

                                course_uuid  term_code  \
0      a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de       1092
1      a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de       1082
2      a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de       1172
3      a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de       1114
4      a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de       1104
...                                     ...        ...
81447  4a7f3d9d-f2e5-3df2-8dee-2c2d02ed9098       1182
81448  1220244c-2bbf-3169-8eb0-6a2da36f40f6       1182
81449  516f637c-a244-3df0-ba3f-f11ce650543d       1182
81450  fbe0838f-9469-3d83-ad85-91ba5aabd1a3       1182
81451  1b17abd5-39f9-3a2c-8eda-a88bf1871221       1182

                                 name
0          Cooperative Education Prog
1          Cooperative Education Prog
2          Cooperative Education Prog
3          Cooperative Education Prog
4          Cooperative Education Prog
...                               ...
81447           Conservation Planning
81448                             NaN
81449  Patient Ed. as Advocacy Strat.
81450   Multid. Appr. to Colon Cancer
81451                             NaN

[81452 rows x 4 columns]
uuid
37
string
course_uuid
37
text
term_code
name
31
text
added primary key

IntegrityError: (pymysql.err.IntegrityError) (1215, 'Cannot add foreign key constraint')
[SQL: ALTER TABLE course_offerings                            ADD CONSTRAINT fk_constraint_0                            FOREIGN KEY (`course_uuid`(37))                            REFERENCES courses (`uuid`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# add tables to db with primary keys
for key, value in table_dict.items():
    add_table(value['df'], key, value['primary_key'])

## 4.3 Add Foreign Keys

The foreign keys are:
- course_offerings:
    - 'course_uuid' (in courses as 'uuid')
- courses: None
- grade_distributions:
    - 'course_offering_uuid' (in course_offerings as 'uuid')
- instructors: None
- rooms: None
- schedules: None
- sections:
    - 'course_offering_uuid' (in course_offerings as 'uuid')
    - 'room_uuid' (in rooms as 'uuid')
    - 'schedule_uuid' (in schedules as 'uuid')
- subject_memberships: 
    - 'course_offering_uuid' (in course_offerings as 'uuid')
    - 'subject_code' (in subjects as 'code')
- subjects: None
- teachings: 
    - 'instructor_id' (in instructors as 'id')
    - 'section_uuid' (in sections as 'uuid')

In [ ]:
# def add_foreign_key(table_name, column_name, referenced_table, 
#                     referenced_column):
    
#     fk_constraint = ForeignKeyConstraint(
#         [table_name][column_name],
#         [referenced_table][referenced_column],
#         name = 'fk_constraint_name'
#     )
    
#     metadata = sqlalchemy.MetaData(bind = engine)
#     table_obj = sqlalchemy.Table(table_name, metadata, autoload = True)
    
#     table_obj.append_constraint(fk_constraint)
    
#     engine.execute(
#         f'ALTER TABLE {table_name} '
#         f'ADD CONSTRAINT {fk_constraint.name} '
#         f'FOREIGN KEY ({column_name}) '
#         f'REFERENCES {referenced_table} ({referenced_column});'
#     )